body {
  margin: 0;
  padding: 0;
  background: black url('../Assets/background.png') no-repeat fixed center;
  background-size: cover !important;
  font-family: Arial, sans-serif;
}

h1, p.infocus{
  text-align: center;
  color: #14b0ed;
  font-family: "Lucida Console", monospace !important;
}

h1.infocus{
  margin-top: 90pt !important;
}

h1 {
  font-size: 40pt !important;
}

a{
  text-decoration: none;
}

a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: grey;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: grey;
  background-color: transparent;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15pt 15pt 15pt 15pt;
}

.box {
    width: 800px;
    height: auto;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    text-align: center;
    border-radius: 15px;
}


.box p {
    font-size: 18px;
    color: #000;
}
