body {
  background: black url('../Assets/background.png') no-repeat fixed center;
  background-size: cover !important;
}

h1, p.infocus{
  text-align: center;
  color: #14b0ed;
  font-family: "Lucida Console", monospace;
}

h1 {

  font-size: 40pt !important;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.box {
    width: 800px;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.7);
    border: 2px solid #000;
    padding: 20px;
    text-align: center;
    border-radius: 15px;
}


.box p {
    font-size: 18px;
    color: #000;
}
