body, button {
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
    background-image: url('background.jpg'); 
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.content {
    padding: 60px;
    max-width: 100%; 
}


h1 {
  
  
   font-size: 70px;
   font-weight: 600;
   background-image: linear-gradient(to left,#3966c9,  #160447);
   color: white;
   background-clip: text;
   -webkit-background-clip: text;

   text-shadow: 1px 1px #B0D7FF;
    margin: 0;
    padding: 10px;

    font-family:Arial, Helvetica, sans-serif;
    text-align: center;

}
 /*#e8e8e8  color:*/
p{
    background-color: #b0d7ff90 ;
    margin: 2% auto;
 color: black;
 text-align: center;
 font-size:x-large;
 font-family: Arial, Helvetica, sans-serif;
 max-width: 75%;
    padding: 30px;
    border: solid 3px  #2D3142;
}


.buttons {
    margin-top: 2% ;
    display: flex;
    justify-content: center; 
    align-items: center;

}

button {
    margin-left: 2vh;
    --button_radius: 0.75em;
    --button_color: #B0D7FF;

    --button_outline_color: #000000;
    font-size: 19px;
    font-weight: bold;
    border: none;
    border-radius: var(--button_radius);
    background: var(--button_outline_color);
}

.button_top {
    display: block;
    box-sizing: border-box;
    border: 2px solid var(--button_outline_color);
    border-radius: var(--button_radius);
    padding: 0.75em 1.5em;
    background: var(--button_color);
    color: var(--button_outline_color);
    transform: translateY(-0.2em);
    transition: transform 0.1s ease;
  }
  
  button:hover .button_top {
    transform: translateY(-0.33em);
  }
  
  button:active .button_top {
    transform: translateY(0);
  }